/* src/components/molecules/PlantCard/PlantCard.module.css */
.card {
  max-width: 345px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 8px !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1) !important;
}

.cardMedia {
  object-fit: cover;
}

.placeholderImage {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Cor de fundo para o placeholder */
  color: #ccc; /* Cor do ícone no placeholder */
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo no card */
  text-align: center;
  flex-grow: 1;
  padding: 16px !important;
}

.plantName {
  font-weight: bold !important;
  margin-bottom: 8px !important;
}

.lightInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #555;
}

.priceContainer {
  margin-bottom: 16px; /* Espaçamento abaixo do preço */
}